{% extends "blog/base.html" %}
{% block content %}
    <h1>About the Project </h1>
    <p>
        This is a blog project which is completing built in Django which is python fastest framework.
        It is a Python-based free and open-source web framework that follows the model-template-view architectural pattern.
        Built by experienced developers, Django takes care of much of the hassle of web development.

        </p>

        <p>Features: </p>
        <ul>
            <li>Registeration</li>          
            <li>login</li>
            <li>logout</li>
            <li>password security</li>
            <li>Create Post</li>
            <li>Update and Delete the post</li>
            <li>Profile Setup</li>
            (Default profile setup is given by the admin)
        </ul>
        This project takecares of all security layer for user.
        

                                            <h3>    <b> MADE BY: ARTI SINGH<b> </h3>




    
{% endblock content %} 


